
SimpleArkanoid.xcodeproj/project.xcworkspace/xcuserdata/Valentine.xcuserdatad/UserInterfaceState.xcuserstate

SimpleArkanoid.xcodeproj/project.xcworkspace/xcuserdata/Valentine.xcuserdatad/WorkspaceSettings.xcsettings

SimpleArkanoid.xcodeproj/xcuserdata/Valentine.xcuserdatad/xcschemes/SimpleArkanoid.xcscheme

SimpleArkanoid.xcodeproj/xcuserdata/Valentine.xcuserdatad/xcschemes/xcschememanagement.plist
